
.w-100{
    width: 100% !important;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-10{
    width: 10%;
}
.w-5{
    width: 5%;
}

.cursor-pointer {
    cursor: pointer; /* Change cursor to pointer */
}

.btn-status {
    background-color: transparent; /* Optional: Transparent background */
    color: black; /* Optional: Black text */
    transition: all 0.3s ease; /* Smooth hover effect */
    font-size: 2rem; /* Font size */
    padding: 2vh 0;
    font-weight: bold; /* Bold text */
}

.btn-status:hover {
    filter: brightness(0.85); /* Darkens the existing color by 15% */
}

.status-setting-item {
    border: 1px solid black; /* Solid 1px border */
    border-radius: 0.55em; /* Rounded corners with 3em radius */
    padding: 0.55em 1em; /* Optional: Add padding for spacing */
    background-color: #fff;
}

/* battery.css */
.battery-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.battery {
    position: relative;
    width: 50px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.battery::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -6px;
    width: 4px;
    height: 10px;
    background-color: #000;
    border-radius: 1px;
}

.battery-level {
    height: 100%;
    background-color: #4caf50; /* Green for charged */
    transition: width 0.3s ease;
}

.battery-percentage-text {
    font-size: 14px;
    font-weight: bold;
}