<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Added for mobile responsiveness -->
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.5/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2/css/all.min.css') }}">
    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>

<body>

    <div>
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.5/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.7.2/js/all.min.js') }}"></script>

    {% block scripts %}{% endblock %}

    {% block extra_scripts %}{% endblock %}

</body>

</html>