{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
{% endblock %}


{% block content %}

<div class="mb-2">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Status: </strong> <span class="badge rounded-pill current-status py-1 px-3 ms-1"
                    style="color: #000;background-color: rgb{{ status.color }}">{{ status.name }}</span></p>
        </div>
    </div>
</div>

<div class="row">
    {% for status in available_statuses %}
    <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-status update-status w-100 my-2" id="status-{{ status.id }}"
                style="background-color: rgb{{status.color}};" data-status-id="{{ status.id }}">{{status.name
                }}</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_scripts %}
<script>

    // function to update the status
    $('.update-status').on('click', function () {
        var statusId = $(this).data('status-id');

        Status.updateStatus('.current-status', statusId);
    });
    // end function to update the status

</script>
{% endblock %}