{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
{% endblock %}


{% block content %}

<div class="mb-2">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Status: </strong> <span class="badge rounded-pill current-status py-1 px-3 ms-1"
                    style="color: #000;background-color: {{ status.color }}">{{ status.name }}</span></p>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Mode:</strong></p>
            <div class="btn-group" role="group" aria-label="Mode selection">
                <input type="radio" class="btn-check" name="mode" id="mode-flashing" value="flashing"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="mode-flashing">Flashing</label>

                <input type="radio" class="btn-check" name="mode" id="mode-solid" value="solid" autocomplete="off"
                    checked>
                <label class="btn btn-outline-primary" for="mode-solid">Solid</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for status in available_statuses %}
    <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-status update-status w-100 my-2" id="status-{{ status.id }}"
                style="background-color: {{status.color}};" data-status-id="{{ status.id }}">{{status.name
                }}</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_scripts %}
<script>

    const IS_FLASHING = {{ is_flashing | tojson }};

    $(function () {
        // Initialize the radio buttons based on IS_FLASHING
        if (IS_FLASHING) {
            $('#mode-flashing').prop('checked', true);
        } else {
            $('#mode-solid').prop('checked', true);
        }
    });

    // function to update the status
    $('.update-status').on('click', function () {
        var statusId = $(this).data('status-id');

        Status.updateStatus('.current-status', statusId);
    });
    // end function to update the status

    // function to update the mode
    $('input[name="mode"]').on('change', function () {
        var mode = $(this).val();

        is_flashing = false

        if (mode == 'flashing') {
            is_flashing = true;
        }

        if (mode == 'solid') {
            is_flashing = false;
        }

        Status.updateFlashingStatus(is_flashing);
    });
    // end function to update the mode

</script>
{% endblock %}