{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}


{% block content %}

<div class="mb-2">
    <div class="row">
        <div class="col-md-12">
            <h1>Settings</h1>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h3>Statuses</h3>
    </div>
</div>

<div class="row">
    {% for status in available_statuses %}
    <div class="col-md-12">
        <div class="d-flex justify-content-left justify-content-between status-setting-item my-3 data-name="{{ status.name }}" data-color="{{ status.color }}" data-status-id="{{ status.id }}"">
            <div class="d-flex">
                <div>
                    <span class="badge rounded-pill current-status py-1 px-3 ms-1"
                    style="color: #000;background-color: rgb{{ status.color }}">{{ status.name }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <strong class="ms-4"><i class="fa-solid fa-pen"></i></strong>
                <strong class="ms-4"><i class="fa-solid fa-trash"></i></strong>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block extra_scripts %}
<script>

</script>
{% endblock %}